<div class="buffer-bottom">
  <p><%= comment.body %></p>
  <p>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
              glyph_icon('trash'), event_comment_path(comment.event, comment),
              method: :delete, data: { confirm: t('.destroy_confirm') }
          ) %>
    <% end %>
  </p>
</div>