<% errors = model.errors %>

<% if errors.any? %>
  <div class='alert alert-danger'>
    <div class="buffer-bottom">
      <%= I18n.t('activerecord.errors.messages.record_invalid') %>: <%= errors.count %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>