<h1>Редактирование профиля</h1>
<div class='row'>
  <div class='col-md-6 buffer-top'>
    <%= render 'form' %>
    <p class="buffer-top">
      <%= link_to 'Сменить пароль', edit_user_registration_path %>
    </p>
  </div>
</div>